
  <div class="segment" >
    <h1>Sign up</h1>
  </div>
  <form (ngSubmit)="onsubmit()" #f="ngForm">
  <label>
    <input type="text"
     placeholder="Email Address"
     ngModel
     
     name="Email" required email="ahmad" #email="ngModel"/>
     <span *ngIf="!email.valid && email.touched">please enter a valid email!</span>

  </label>
  
  <label>
    <input type="password"
     placeholder="Password"
     ngModel
     name="password" required/>
     

  </label>
  <button  class="red" type="submit" [disabled]="!f.valid"> Log in</button>
  
 
  
 
  
</form>